@model pineapple_shopModel.User
@inject pineapple_shopModel.pineapple_shopModel _context;
<!DOCTYPE html>
@{
    var x = _context.UsersStatusesDictionaries.FirstOrDefault(status => status.Id == Model.StatusId).Description;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

    <div>
        <h4>User</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Login)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Login)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PasswordHash)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PasswordHash)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.RegDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.RegDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-2">
                Role:
            </dt>
            <dd class="col-sm-10">
                @x
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</body>
</html>
